@media only screen and (max-width: 600px){
body{
	margin: 0;
}
figure{
	margin-top: 0;
}
img{
	width: 40%;
}
header{
	background-color: #E8E4E3;
}
.chart{
	width: 100vw;
}}
@media (min-width: 1024px){	
	body{
	margin: 0;
}
	figure{
		margin-top: 0;
	}
	img{
		width: 40%;
	}
	header{
		background-color: #E8E4E3;
	}
	.chart{
		width: 50vw;
	}
}
@media only screen and (min-width: 1300px){
	section{
		display: flex;
		margin-top: 5%;
	}
	body{
	margin: 0;
}
	figure{
		margin-top: 0;
	}
	img{
		width: 40%;
	}
	header{
		background-color: #E8E4E3;
	}
	.chart{
		width: 100vw;
	}
}